@import "reset";
@import "mixins";
@import "variables";

=======
body {
  border: none;
  outline: none;
}


#header  {
  background: #1E2024;
  padding: 10px 0;







  #header {
    background: #1E2024;
    padding: 10px 0;


    &__select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 180px;

      & select {
        border-radius: 10px;
        border: none;
        outline: none;
        background: darkgrey;
        color: blue;
      }
    }

    &__btn {
      button {
        width: 100px;
        height: 40px;
        background: #1A5CFF;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
        transition: .7s;
        color: white;
      }

      button:hover {
        transition: .7s;
        transform: translateY(-10px);
        background: none;
        border: 1px solid white;
      }
    }
  }
      .header {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;

        &__logo {
          display: flex;
          line-height: 12px;

          & p {
            font-weight: 400;
            font-size: 8px;
            color: #FFFFFF;
          }

        }

        &__course {
          display: flex;
          align-items: center;
          padding: 0 100px;

          & p {
            font-weight: 500;
            font-size: 14px;
            color: #9099A3;
            margin: 0 20px;
          }
        }

        &__select {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 180px;

          & select {
            border-radius: 10px;
            border: none;
            outline: none;
            background: darkgrey;
            color: blue;
          }
        }

        &__btn {
          button {
            width: 100px;
            height: 40px;
            background: #1A5CFF;
            box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
            border-radius: 15px;
            transition: .7s;
            color: white;
          }

}
          button:hover {
            transition: .7s;
            transform: translateY(-10px);
            background: none;
            border: 1px solid white;
          }
        }}




  }

#africa {
  background: url("../img/africe-fon.png") no-repeat center /cover;
  min-height: 100vh;

  .africa {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }

    & p {
      font-weight: 400;
      font-size: 14px;
      color: #2C3E50;
      margin: 0 9px;
    }

    & a {
      font-size: 13px;
      color: #000000;
    }
  }

  .afric-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20%;

    & h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: #FFFFFF;
    }
  }

  .africa__block {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;

    width: 1140px;
    height: 160px;
    left: 80px;
    top: 442px;

    background: #FFFFFF;
    border-radius: 15px;

    .africa__block--one {
      text-align: center;
      margin: 0 40px;

      & a {
        font-size: 22px;

      }

      & h4 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #2C3E50;

      }

      & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        color: #2C3E50;

      }
    }
  }

}


#hero {

  background: black;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;


    .hero__one {


      .hero__one--block {
        padding: 9px 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        width: 510px;
        height: 217px;
        left: 80px;
        top: 702px;


        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;

        & img {
          flex-wrap: wrap;
          margin: 5px 6px;


        }

        & p {
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          text-transform: capitalize;

          color: #FFFFFF;

        }
      }

      .hero__one--button {

        margin: 40px 0;


        & h1 {
          font-weight: 700;
          font-size: 38px;
          line-height: 54px;
          text-transform: capitalize;

          color: #FFFFFF;
        }

        & button {
          width: 180px;
          height: 40px;
          left: 80px;
          top: 993px;
          margin: 20px 0;

          background: #1A5CFF;
          box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
          border-radius: 15px;
          font-weight: 900;
          font-size: 13px;


          text-transform: capitalize;

          color: #FFFFFF;
          transition: .7s;


        }

        button:hover {
          transition: .7s;
          transform: translateY(-10px);
          background: none;
          border: 1px solid white;
        }

        & h6 {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-transform: capitalize;

          color: #FFFFFF;
        }
      }


    }

    .hero__two {
      width: 510px;
      height: 520px;
      left: 610px;
      top: 702px;

      background: #FFFFFF;
      border-radius: 15px;

      .hero__two--text {
        margin: 0 20px;

        & p {
          margin-top: 50px;
          font-weight: 400;
          font-size: 12px;
          text-transform: capitalize;

          color: #9099A3;
        }

        & h1 {
          font-weight: 800;
          font-size: 34px;
          text-transform: capitalize;
          margin: 20px 0;
          color: #2C3E50;

        }

        & h6 {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-transform: capitalize;

          color: #2C3E50;

        }

      }

      .hero__two--fon {
        margin-left: 45%;
      }
    }
  }


}

#travel {
  background: black;

  & h1 {
    font-weight: 700;
    font-size: 36px;

    padding: 50px 0;
    text-transform: capitalize;

    color: #FFFFFF;

  }

  .trabel {
    position: relative;
    display: flex;
    align-items: center;


    .travel__title {
      width: 610px;
      height: 400px;
      background: #FFFFFF;
      border-radius: 15px;


      .travel__title--text {
        padding-top: 50px;
        margin: 0 60px;

        & h4 {
          font-weight: 1000;
          font-size: 22px;
          color: #2C3E50;
        }

        & p {
          font-weight: 1000;
          font-size: 14px;
          line-height: 21px;
          margin: 10px 0;
          color: #2C3E50;
        }
      }

      .travel__title--format {
        display: flex;
        margin: 50px 25px;

        & a {
          margin: 0 50px;

          & h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */


          & h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */

            color: #2C3E50;
          }

          & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            color: #2C3E50;

          }

        }

=======
            color: #2C3E50;
          }

          & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            color: #2C3E50;

          }

        }

      }

    }

    .travel__fon {
      position: absolute;

      & img {
        width: 550px;
        height: 400px;
        margin-left: 107%;
        padding-top: 3px;
      }
    }


  }


  .travel__bottom {
    display: flex;
    margin-top: 50px;
    position: relative;

    .travel__bottom--fon {
      position: absolute;

      & img {
        width: 550px;
        height: 400px;
      }

    }

    .travel__bottom--text {
      width: 630px;
      height: 400px;
      background: #FFFFFF;
      border-radius: 15px;
      margin-left: 45%;


      & h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        color: #2C3E50;
      }

      & p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #2C3E50;

      }
    }
  }

  & button {
    width: 240px;
    height: 40px;
    left: 80px;
    top: 2186px;
    margin: 20px 0;

    background: #1A5CFF;
    box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
    border-radius: 15px;

    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;

    color: #FFFFFF;
    transition: .7s;

  }

  button:hover {
    transition: .7s;
    transform: translateY(-10px);
    background: none;
    border: 1px solid white;

  }
}


#emotion {
  padding-top: 50px;
  background: #030303;


  & h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #fff9f9;
  }

  .swiper {

    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & img {
          position: absolute;
        }


        .swiper-slide__text {
          width: 560px;
          height: 300px;
          left: 80px;
          top: 0;
          margin-left: 22%;
          background: #FFFFFF;
          border-radius: 15px;


          & h4 {
            font-weight: 700;
            font-size: 20px;
            color: #2C3E50;
            margin: 20px 0;
            display: flex;
            align-items: center;
            margin-left: 55px;
            padding-top: 30px;


          }

          & p {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            margin-left: 55px;
            color: #2C3E50;

          }
        }


      }

    }

  }

  .emotion__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
      margin: 30px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 40px;


      background: #1A5CFF;
      box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
      border-radius: 15px;
      font-weight: 400;
      font-size: 14px;


      text-transform: capitalize;
      transition: .7s;
      color: #FFFFFF;

    }

    button:hover {
      transition: .7s;
      transform: translateY(-10px);
      background: none;
      border: 1px solid white;
    }
  }


}


#program{
  padding: 100px 0;

  background: #1d273d;
  .program {

    details {
      width: 800px;
      outline: none;
      color: black;
      border: 2px solid #9099A3;
      border-radius: 15px;
      margin: 35px;
      padding: 8px;

      summary {
        border: none;
        display: flex;
        width: 800px;
        outline: none;

        list-style: none;

        .program--btn {
          padding: 7px 19px;
          border-radius: 10px;
          background: #003fcc;
          color: white;
          font-size: 13px;
          max-height: 15px;
          margin: 7px 20px;
        }

        .program--text {
          font-weight: 700;
          font-size: 16px;
          text-transform: capitalize;
          color: #FFFFFF;

          & span {
            width: 80px;
            height: 20px;
            background: #9099A3;
            border-radius: 5px;
          }
        }
      }

      & p {
        margin: 15px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
      }

    }

    &__button {
      button {
        width: 240px;
        height: 40px;
        color: white;
        background: #1A5CFF;
        box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
        border-radius: 15px;
      }



      background: #1A5CFF;
      box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
      border-radius: 15px;
      font-weight: 400;
      font-size: 14px;


      text-transform: capitalize;
      transition: .7s;
      color: #FFFFFF;

    }

    button:hover {
      transition: .7s;
      transform: translateY(-10px);
      background: none;
      border: 1px solid white;
    }
  }
}

#exclusive {
  background: #1d273d;
 .exclusive {
   display: flex;
   align-items: center;
    .exclusive__one {
      margin:  0 40px;
     .exclusive__one--fon {
       display: flex;
       align-items: center;
       width: 80px;
       height: 80px;
       left: 80px;
       top: 3682px;

       background: #1A5CFF;
       border-radius: 10px;
       & hr {
         display: flex;
         align-items: center;
         width: 40px;
         height: 40px;
         margin-left: 17px;
         border: 2px solid #FFFFFF;
         border-radius: 3px;


       }
       & a {
         margin-left: -31px;
       }
     }

     & h4 {
       font-weight: 900;
       font-size: 20px;
       line-height: 30px;
       text-transform: capitalize;
       margin: 10px 0;
       color: #FFFFFF;
     }
     & p {
       font-weight: 400;
       font-size: 16px;
       line-height: 24px;
       text-transform: capitalize;

       color: #FFFFFF;
     }
   }



 }
  .exclusive__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
     & h1 {
       font-weight: 700;
       font-size: 36px;
       line-height: 54px;
       text-transform: capitalize;

       color: #FFFFFF;
     }
    .exclusive__bottom--one {
      padding: 100px 0;
     & a {
       display: flex;
       margin: 30px;
       font-weight: 400;
       font-size: 16px;
       text-transform: capitalize;
       color: #FFFFFF;


     }
    }

  }


}

